.inputWrap {
  width: 100%;
}

.input {
  width: 100%;
  font-family: system-ui;
  border-radius: 0;
  box-shadow: none;
  border: none;
  background: none;

  &:focus {
    border: none;
    outline: none;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--theme-text);
    -webkit-box-shadow: 0 0 0px 1000px var(--theme-elevation-150) inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.asterisk {
  color: var(--color-error-500);
}

.error {
  background-color: var(--theme-error-150);
}

.errorMessage {
  font-size: small;
  line-height: 1.25;
  margin-top: 4px;
  color: red;
}
