/* .actions {
	@apply ;
} */

.price {
	font-weight: 500;
	line-height: 1;
	display: flex;
	flex-direction: column;
	gap: 4px;

	> * {
		margin: 0;
	}
}

.priceBreakdown {
	color: var(--theme-elevation-500);
}
