@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);
	--font-alum: var(--font-alum);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(0.21 0.006 285.885);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: oklch(0.705 0.015 286.067);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.141 0.005 285.823);
	--sidebar-primary: oklch(0.21 0.006 285.885);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.92 0.004 286.32);
	--sidebar-ring: oklch(0.705 0.015 286.067);
}

@theme {
    --expand: (100vw - 320px) / (1920 - 320);
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--font-family-alum: var(--font-alum);
	--font-alum: var(--font-alum);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

.dark {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.21 0.006 285.885);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.21 0.006 285.885);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.92 0.004 286.32);
	--primary-foreground: oklch(0.21 0.006 285.885);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.552 0.016 285.938);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.21 0.006 285.885);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.552 0.016 285.938);
}



@custom-variant fl-text {
	@slot;
}

@utility fl-text-* {
	--spread-txt: calc(--modifier(integer) - --value(integer));
	font-size: calc(--value(integer) * 1px + var(--spread-txt) * var(--expand));
}

@utility fl-px-* {
	--spread-px: calc(--modifier(integer) - --value(integer));
	padding-left: calc(
		--value(integer) * 1px + var(--spread-px) * var(--expand)
	);
	padding-right: calc(
		--value(integer) * 1px + var(--spread-px) * var(--expand)
	);
}

@utility fl-pt-* {
	--spread-pt: calc(--modifier(integer) - --value(integer));
	padding-top: calc(
		--value(integer) * 1px + var(--spread-pt) * var(--expand)
	);
}

@utility fl-pb-* {
	--spread-pb: calc(--modifier(integer) - --value(integer));

	padding-bottom: calc(
		--value(integer) * 1px + var(--spread-pb) * var(--expand)
	);
}

@utility fl-py-* {
	--spread-py: calc(--modifier(integer) - --value(integer));
	padding-top: calc(
		--value(integer) * 1px + var(--spread-py) * var(--expand)
	);
	padding-bottom: calc(
		--value(integer) * 1px + var(--spread-py) * var(--expand)
	);
}

@utility fl-mx-* {
	--spread-mx: calc(--modifier(integer) - --value(integer));
	margin-left: calc(
		--value(integer) * 1px + var(--spread-mx) * var(--expand)
	);
	margin-right: calc(
		--value(integer) * 1px + var(--spread-mx) * var(--expand)
	);
}

@utility fl-mt-* {
	--spread-mt: calc(--modifier(integer) - --value(integer));
	margin-top: calc(
		--value(integer) * 1px + var(--spread-mt) * var(--expand)
	);
}

@utility fl-mb-* {
	--spread-mb: calc(--modifier(integer) - --value(integer));
	margin-bottom: calc(
		--value(integer) * 1px + var(--spread-mb) * var(--expand)
	);
}

@utility fl-my-* {
	--spread-my: calc(--modifier(integer) - --value(integer));
	margin-top: calc(
		--value(integer) * 1px + var(--spread-my) * var(--expand)
	);
	margin-bottom: calc(
		--value(integer) * 1px + var(--spread-my) * var(--expand)
	);
}

@utility fl-w-* {
	--spread-w: calc(--modifier(integer) - --value(integer));
	width: calc(
		--value(integer) * 1px + var(--spread-w) * var(--expand)
	) !important;
}

@utility fl-max-w-* {
	--spread-max-w: calc(--modifier(integer) - --value(integer));
	max-width: calc(
		--value(integer) * 1px + var(--spread-max-w) * var(--expand)
	) !important;
}

@utility fl-gap-* {
	--spread-gap: calc(--modifier(integer) - --value(integer));
	gap: calc(
		--value(integer) * 1px + var(--spread-gap) * var(--expand)
	) !important;
}

@utility fl-gap-x-* {
	--spread-gap-x: calc(--modifier(integer) - --value(integer));
	column-gap: calc(
		--value(integer) * 1px + var(--spread-gap-x) * var(--expand)
	) !important;
}

@utility fl-gap-y-* {
	--spread-gap-y: calc(--modifier(integer) - --value(integer));
	row-gap: calc(
		--value(integer) * 1px + var(--spread-gap-y) * var(--expand)
	) !important;
}

@utility fl-top-* {
	--spread-top: calc(--modifier(integer) - --value(integer));
	top: calc(
		--value(integer) * 1px + var(--spread-top) * var(--expand)
	) !important;
}

@utility fl-bottom-* {
	--spread-bottom: calc(--modifier(integer) - --value(integer));
	bottom: calc(
		--value(integer) * 1px + var(--spread-bottom) * var(--expand)
	) !important;
}

.rounded-default {
	@apply xl:rounded-4xl rounded-xl md:rounded-2xl lg:rounded-3xl;
}

/* @utility fl-card {
  width: clamp(
    22%,
    1w,
    70%
  );
} */

@layer base {

  svg {
    vertical-align: middle; 
  }

	* {
		@apply border-border box-border outline-ring/50 leading-normal fl-text-13/20;
	}


	body {
		@apply min-h-dvh bg-background text-foreground flex flex-col items-center fl-text-13/20;
	}

	/* container */
	main {
		@apply w-full max-w-full grow self-center overflow-x-clip;
	}

	/* Fallback для шрифтов */
	.font-alum {
		font-family: var(--font-alum), var(--font-inter), "Inter", "Arial",
			"Helvetica", sans-serif;
	}

	.font-inter {
		font-family: var(--font-inter), "Inter", "Arial", "Helvetica", sans-serif;
	}

	.icon-size-btn {
		@apply size-8 xl:size-9 2xl:size-10 shrink-0;
	}

	.icon-size-btn-important {
		@apply size-8! xl:size-9! 2xl:size-10! shrink-0;
	}

	.icon-size {
		@apply size-5;
	}

	.icon-size-important {
		@apply size-5!;
	}

	/* .before-wider {
    position: relative;
    z-index: 0;
  }

  .before-wider::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20%; 
    width: 140%; 
    height: 100%;
    background-color: var(--secondary); 
    z-index: -1; 
  } */

  .hero {
    .content-hero {
      @apply h-[44%] lg:h-[50%]
    }
    .main-image {
      @apply -translate-x-1/2 absolute left-1/2 top-[67%] w-[min(70%,22rem)];
    }
    .hero-button {
      @apply w-[min(90%,30rem)]!;
      position: relative;
      /* w-[90%] sm:w-[80%] md:w-[40%] xl:w-[30%] 2xl:w-[25%] */
      /* max-width: 100%; */
    }

    .hero-button::before {
        max-width: 100%;
        position: absolute;
        content: '';
        transform: translateY(-50%);
        /* top: -50%; */
        left: 0;
        width: 100%;
        max-width: 100%;
        height: 100%;
        background-image: url("/btn-curve.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        z-index: -1;
        opacity: 1;
    }
  }
}

.padding-default {
	@apply fl-mx-8/32;
}

/* ::view-transition-old(*),
::view-transition-new(*) {
	animation: none;
	opacity: 1 !important;
} */

::view-transition-group(*) {
	animation-duration: 550ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.7, 1);
}

/*  productThumbnails   */
::view-transition-new(productThumbnails) {
	animation: slide-in 0.7s ease-in-out;
	animation-fill-mode: both;
}

::view-transition-old(productThumbnails) {
	animation: none;
	opacity: 0;
}

::view-transition-new(productCardForm) {
	animation: slide-in 0.7s ease-in-out;
	animation-fill-mode: both;
}

::view-transition-old(productCardForm) {
	animation: none;
	opacity: 0;
}
