.gridContent {
  @apply grid grid-cols-12 gap-y-2 gap-x-4 md:gap-2 md:grid-cols-6;
}

.column--oneThird {
  grid-column-end: span 4;
}

.column--half {
  grid-column-end: span 6;
}

.column--twoThirds {
  grid-column-end: span 8;
}

.column--full {
  grid-column-end: span 12;
}

.column {
  @apply md:col-span-6 sm:col-span-6;
}

.link {
  margin-top: 1rem;
}
