@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --background: hsl(0 0% 91%);
  --foreground: hsl(0, 0%, 5%);

  --card: hsl(240 5% 96%);
  --card-foreground: hsl(0, 0%, 5%);

  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0, 0%, 5%);

  --primary: hsl(0, 0%, 5%);
  /* // hsl(222.2 47.4% 11.2%); */
  --primary-foreground: hsl(210 40% 98%);

  --secondary: hsl(210 40% 96.1%);
  --secondary-foreground: hsl(0, 0%, 5%);

  --muted: hsl(210 40% 96.1%);
  --muted-foreground: hsl(215.4 16.3% 46.9%);

  --accent: hsl(15, 96%, 53%);
  --accent-foreground: hsl(222.2 47.4% 11.2%);

  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(210 40% 98%);

  --border: hsl(240 6% 80%);
  --input: hsl(214.3 31.8% 91.4%);
  --ring: hsl(0, 0%, 5%);

  --radius: 0.2rem;

  --success: hsl(196 52% 74%);
  --warning: hsl(34 89% 85%);
  --error: hsl(10 100% 86%);
}

.dark {
  --background: hsl(0 0% 0%);
  --foreground: hsl(210 40% 98%);

  --card: hsl(0 0% 4%);
  --card-foreground: hsl(210 40% 98%);

  --popover: hsl(0, 0%, 5%);
  --popover-foreground: hsl(210 40% 98%);

  --primary: hsl(210 40% 98%);
  --primary-foreground: hsl(222.2 47.4% 11.2%);

  --secondary: hsl(217.2 32.6% 17.5%);
  --secondary-foreground: hsl(210 40% 98%);

  --muted: hsl(217.2 32.6% 17.5%);
  --muted-foreground: hsl(215 20.2% 65.1%);

  --accent: hsl(217.2 32.6% 17.5%);
  --accent-foreground: hsl(210 40% 98%);

  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(210 40% 98%);

  --border: hsl(0 0% 15%);
  --input: hsl(217.2 32.6% 17.5%);
  --ring: hsl(212.7 26.8% 83.9%);

  --success: hsl(196 100% 14%);
  --warning: hsl(34 51% 25%);
  --error: hsl(10 39% 43%);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --font-heading: var(--font-nyght-serif), serif;
  --font-sans: var(--font-manrope), sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@custom-variant dark (&:is(.dark *));

@custom-variant fl-text {
  @slot;
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  body {
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }

  h1 {
    font-weight: 700;
  }
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.payload-richtext h1,
.payload-richtext h2,
.payload-richtext h3,
.payload-richtext h4,
.payload-richtext h5,
.payload-richtext h6 {
  font-family: var(--font-heading);
}

@utility font-heading {
  font-family: var(--font-heading);
}

@utility font-sans {
  font-family: var(--font-sans);
}

@theme {
  --font-heading: var(--font-nyght-serif), serif;
  --font-sans: var(--font-manrope), sans-serif;
  --breakpoint-3xl: 112.5rem;
  /* 1800px */
  --expand: (100vw - 320px) / (1920 - 320);
}

@utility container {
  @variant 3xl {
    max-width: 1800px;
  }
}

@utility fl-text-* {
  --spreadText: calc(--modifier(integer) - --value(integer));

  font-size: calc(--value(integer) * 1px + var(--spreadText) * var(--expand));
}

@utility fl-px-* {
  --spreadX: calc(--modifier(integer) - --value(integer));

  padding-left: calc(--value(integer) * 1px + var(--spreadX) * var(--expand));
  padding-right: calc(--value(integer) * 1px + var(--spreadX) * var(--expand));
}

@utility fl-pt-* {
  --spreadT: calc(--modifier(integer) - --value(integer));

  padding-top: calc(--value(integer) * 1px + var(--spreadT) * var(--expand));
}

@utility fl-pb-* {
  --spreadB: calc(--modifier(integer) - --value(integer));

  padding-bottom: calc(--value(integer) * 1px + var(--spreadB) * var(--expand));
}

@utility fl-py-* {
  --spreadY: calc(--modifier(integer) - --value(integer));

  padding-top: calc(--value(integer) * 1px + var(--spreadY) * var(--expand));
  padding-bottom: calc(--value(integer) * 1px + var(--spreadY) * var(--expand));
}

@utility fl-w-* {
  --spreadW: calc(--modifier(integer) - --value(integer));
  width: calc(--value(integer) * 1px + var(--spreadW) * var(--expand)) !important;
}

@utility fl-max-w-* {
  --spreadMW: calc(--modifier(integer) - --value(integer));
  max-width: calc(--value(integer) * 1px + var(--spreadMW) * var(--expand)) !important;
}

@utility fl-gap-* {
  --spreadG: calc(--modifier(integer) - --value(integer));
  gap: calc(--value(integer) * 1px + var(--spreadG) * var(--expand)) !important;
}

.heightWithoutHeader {
  @apply min-h-[calc(100vh-72px)] xl:min-h-[calc(100vh-96px)];
}

.cardContainer {
  perspective: 1000px;
  will-change: width;
  z-index: 0;
}

.aboutFlipCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #101010;
  /* overflow-x: clip; */
  position: relative;
  transform-style: preserve-3d;
  transform-origin: top;
  z-index: 0;
}

.aboutFlipCardFront,
.aboutFlipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: inherit;
  overflow: hidden;
}

.aboutFlipCardBack {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}

.aboutFlipCardBackInner {
  transform: rotateY(180deg);
}

.aboutFlipCardFront {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(0deg);
}

#card-1 {
  border-radius: 20px 0 0 20px;
}

#card-3 {
  border-radius: 0 20px 20px 0px;
}

@media (max-width: 1000px) {

  #card-1,
  #card-2,
  #card-3,
  .aboutFlipCardBack {
    transform: none;
  }

  .aboutFlipCardFront {
    display: none;
  }

  .aboutFlipCard {
    width: 80%;
    position: absolute;
    transform-origin: center;
    border-radius: 20px !important;
  }

  #card-2,
  #card-3 {
    transform: translateY(300%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation-name: marquee;
  animation-duration: 100s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@media (prefers-reduced-motion: reduce) {
  .animate-marquee {
    animation: none;
  }
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: unset;
  font-weight: unset;
} */

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

* {
  @apply border-border;
}

body {

  margin: 0;
  line-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: clip;
  @apply bg-background text-foreground min-h-screen flex flex-col;
}

main {
  flex-shrink: 0;
  min-height: 100vh;
  flex-grow: 1;
  position: relative;
}


/* ===================================================================== */

.df-px {
  @apply px-3 md:px-4 lg:px-6 3xl:px-8;
}

.df-px-xs {
  @apply px-1.5 lg:px-2 3xl:px-4;
}

.df-px-xxs {
  @apply px-1 lg:px-1.5 3xl:px-2;
}

/* ===================================================================== */

.df-py {
  @apply py-3 md:py-4 lg:py-6 3xl:py-8;
}

.df-py-xs {
  @apply py-1.5 lg:py-2 3xl:py-4;
}

.df-py-xxs {
  @apply py-1 lg:py-1.5 3xl:py-2;
}

/* ===================================================================== */

.df-p {
  @apply p-3 lg:p-4 3xl:p-8;
}

.df-p-2-6 {
  @apply p-2 lg:p-3 3xl:p-6;
}

.df-pb {
  @apply pb-3 lg:pb-4 3xl:pb-8;
}

/* ===================================================================== */

/* Общие отступы секций */

.df-gap-x-1-4 {
  @apply gap-x-1 md:gap-x-2 lg:gap-x-3 3xl:gap-x-4;
}

.df-gap-x-2-6 {
  @apply gap-x-2 md:gap-x-3 lg:gap-x-4 3xl:gap-x-6;
}

.df-gap-x-3-8 {
  @apply gap-x-3 md:gap-x-4 lg:gap-x-6 3xl:gap-x-8;
}

/* xy  */

.df-gap-1-4 {
  @apply gap-1 md:gap-2 lg:gap-3 3xl:gap-4;
}

.df-gap-2-6 {
  @apply gap-2 md:gap-3 lg:gap-4 3xl:gap-6;
}

.df-gap-3-8 {
  @apply gap-3 md:gap-4 lg:gap-6 3xl:gap-8;
}

/* y */
.df-gap-y-1-4 {
  @apply gap-y-1 md:gap-y-2 lg:gap-y-3 3xl:gap-y-4;
}

.df-gap-y-3-8 {
  @apply gap-y-3 md:gap-y-4 lg:gap-y-6 3xl:gap-y-8;
}

.df-gap-y-8-16 {
  @apply gap-y-8 md:gap-y-12 3xl:gap-y-16;
}

/* ===================================================================== */

/* Отступы секций */

/* 8px - 32px */
.df-section-mx-2-8 {
  @apply mx-2 lg:mx-4 3xl:mx-8;
}

/* 8px - 32px */
.df-section-mb-2-8 {
  @apply mb-2 lg:mb-4 3xl:mb-8;
}

/* mb-8 md:mb-12 xl:mb-16 */

/* 32px - 64px */
.df-section-mb-8-16 {
  @apply mb-8 lg:mb-12 3xl:mb-16;
}

/* 48px - 128px */
.df-section-mb-12-32 {
  @apply mb-12 md:mb-24 3xl:mb-32;
}

/* 48px - 192px */
.df-section-mb-16-48 {
  @apply mb-24 md:mb-36 lg:mb-48 xl:mb-60 3xl:mb-72;
}

/* ===================================================================== */

/* Отступы Text */
/* Text compact */

/* 1-2 */
.df-text-space-y-small {
  @apply space-y-1 lg:space-y-1.5 3xl:space-y-2;
}

/* 2-3 */
.df-text-space-y {
  @apply space-y-2 lg:space-y-2.5 3xl:space-y-3;
}

/* 2.5-5 */
/* Text normal */
.df-text-space-y-balance {
  @apply space-y-2.5 sm:space-y-3 lg:space-y-4 xl:space-y-6 2xl:space-y-8 3xl:space-y-10;
}

/* 4-8 */
/* Text editorial */
.df-text-space-y-editorial {
  @apply space-y-4 lg:space-y-6 xl:space-y-8 2xl:space-y-12 3xl:space-y-16;
}


.aboutUsBackground {
  position: absolute;
  inset-block: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(100%, var(--container-width));
  border-radius: 24px;
}

/* position: absolute;
    inset-block: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(100%, var(--container-width)); */