.gradient {
	backdrop-filter: blur(20px);
	background: linear-gradient(
		269deg,
		rgba(255, 255, 255, 0.4) 1.08%,
		rgba(255, 255, 255, 0) 125.1%
	);

	&:hover {
		transition: background-color 1s ease-out !important;
		background: linear-gradient(
			259deg,
			rgba(255, 255, 255, 0.8) 0.08%,
			rgba(255, 255, 255, 0) 125.1%
		);
	}
}

/* .heroMain {
	@apply container
  relative 
  z-10
  flex
  h-auto
  items-center
  justify-center
  px-4
  lg:px-20 
  2xl:px-0;

	.video_bg {
		@apply absolute 
    left-0 
    top-0 
    h-full 
    w-full
    overflow-hidden 
    object-cover;
	}

	.title {
		@apply mx-auto 
    flex 
    h-full 
    w-auto 
    flex-col 
    xl:ml-4 
    xl:mr-auto;
	}
} */

// .round_button {
//   transform: scale(0);

//   &_big {
//     width: clamp(120px, 20vw, 180px);
//     height: clamp(120px, 20vw, 180px);
//     font-size: clamp(14px, 4vw, 20px);

//     & > span {
//       max-width: 10ch;
//       text-wrap: wrap;
//       text-align: center;
//     }
//     // @include adptValue('width', 120, 180);
//     // @include adptValue('height', 120, 180);
//     // @include adptValue('font-size', 14, 20);
//   }
//   &_small {
//     width: clamp(64px, 10vw, 80px);
//     height: clamp(64px, 10vw, 80px);
//     font-size: clamp(14px, 4vw, 20px);

//     // @include adptValue('width', 64, 80);
//     // @include adptValue('height', 64, 80);
//     // @include adptValue('font-size', 14, 20);
//   }

//     border-radius: 200px !important;
//     backdrop-filter: blur(20px);
//     background: linear-gradient(
//       269deg,
//       rgba(255, 255, 255, 0.4) 1.08%,
//       rgba(255, 255, 255, 0) 125.1%
//     );
//     transition: background-color 1s ease-out !important;

//     &:hover {
//       transition: background-color 1s ease-out !important;
//       background: linear-gradient(
//         269deg,
//         rgba(255, 255, 255, 0.8) 1.08%,
//         rgba(255, 255, 255, 0) 125.1%
//       );
//     }
//   }
// }

// .media {
//   width: calc(100% + var(--gutter-h));
//   left: calc(var(--gutter-h) / -2);
//   margin-top: calc(var(--base) * 3);
//   position: relative;

//   @include mid-break {
//     left: 0;
//     margin-top: var(--base);
//     margin-left: calc(var(--gutter-h) * -1);
//     width: calc(100% + var(--gutter-h) * 2);
//   }
// }

// .links {
//   list-style: none;
//   margin: 0;
//   padding: 0;
//   display: flex;
//   padding-top: var(--base);
//   flex-wrap: wrap;
//   margin: calc(var(--base) * -.5);

//   & > * {
//     margin: calc(var(--base) / 2);
//   }
// }

// .caption {
//   margin-top: var(--base);
//   color: var(--theme-elevation-500);
//   left: calc(var(--gutter-h) / 2);
//   width: calc(100% - var(--gutter-h));
//   position: relative;

//   @include mid-break {
//     left: var(--gutter-h);
//   }
// }

// .content {
//   position: relative;
// }
