.advantageCardIcon {
    --beforeScale: 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;

    &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        border-radius: 50%;
        background-color: #EFE7E0;
        
        opacity: 0.3;
        transform: scale(var(--beforeScale));
    }

    @media (min-width: 768px) {
        width: 240px;
        height: 240px;
    }

    // md: w-[240px] items-center md:h-[240px] before:rounded-full before:z-[-1] before:left-0 before:top-0 before:content-[''] before:w-full before:h-full before:absolute before:bg-gray-50 before:transform before:scale-0
}