.gridContent {
	@apply grid w-full grid-cols-12 gap-x-4 gap-y-2 md:gap-2;
}

.column--oneThird {
	grid-column-end: span 4;
}

.column--half {
	grid-column-end: span 6;
}

.column--twoThirds {
	grid-column-end: span 8;
}

.column--full {
	grid-column-end: span 12;
}

.column {
	@apply col-span-12 auto-rows-auto lg:col-span-6;
}

.link {
	margin-top: 2rem;
}
