.pagination {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  // height: 100px;
}

.button {
  all: unset;
  cursor: pointer;
  position: relative;

  &:disabled {
    cursor: not-allowed;
    // color: var(--theme-elevation-200);
    // border-color: var(--theme-elevation-150);
  }
}

.icon {
  position: relative;
  // top: 0.5rem;
  width: 1rem;
  height: 1rem;

  &:disabled {
    cursor: not-allowed;
    color: var(--theme-elevation-200);
  }
}
