.form {
	@apply flex flex-col gap-4 py-4 md:flex-row md:gap-8;
}

.formContainer {
	@apply relative h-fit md:basis-1/2 lg:basis-2/3;
}

.summary {
	@apply space-y-4 md:basis-1/2 lg:basis-1/3;
}

.loadingOverlay {
	@apply absolute inset-0 z-10 flex items-center justify-center bg-beige-color/20 backdrop-blur-lg;

	& > p {
		@apply pb-8 text-center;
	}
}

.actions {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 1rem 0;
}

.items {
	margin-bottom: 1rem;
}

.row {
	@apply flex items-center gap-4 sm:items-start;
}

.rowContent {
	@apply flex basis-9/12 flex-col gap-2;
}

.warning {
	margin: 0;
	color: var(--theme-warning-500);
}

.mediaWrapper {
	@apply max-w-12 relative flex aspect-square flex-grow overflow-hidden rounded-2xl border sm:mb-2 sm:max-w-none;
	text-decoration: none;
}

.media {
	position: relative;
	width: 100%;
	height: 100%;
}

.image {
	object-fit: cover;
}

.title {
	margin: 0;
}

.orderTotal {
	margin-top: 1rem;
	font-weight: 600;
}
// :global([data-theme="light"]) {
//   .warning {
//     color: var(--theme-error-500);
//   }
// }

// .placeholder {
//   background-color: var(--theme-elevation-50);
//   width: 100%;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
