.card {
	@apply flex h-fit  flex-col gap-2 md:gap-4;
}
.cardImage {
	@apply max-w-full object-cover transition-transform duration-700;
}

// .content {
//   padding: var(--base);
//   flex-grow: 1;
//   display: flex;
//   flex-direction: column;
//   gap: calc(var(--base) / 2);

//   @include small-break {
//     padding: calc(var(--base) / 2);
//     gap: calc(var(--base) / 4);
//   }
// }

// .title {
//   margin: 0;
// }

// .titleLink {
//   text-decoration: none;
// }

// .centerAlign {
//   align-items: center;
// }

// .body {
//   flex-grow: 1;
// }

// .priceActions {
//   gap: var(--base);
// }

// .price {
//   font-weight: 600;
//   margin: 0;
// }

// .leader {
//   @extend %label;
//   display: flex;
//   gap: var(--base);
// }

// .description {
//   margin: 0;
// }

// .hideImageOnMobile {
//   @include mid-break {
//     display: none;
//   }
// }

// .mediaWrapper {
//   text-decoration: none;
//   display: block;
//   position: relative;
//   aspect-ratio: 16 / 9;
// }

// .image {
//   object-fit: cover;
// }

// .placeholder {
//   background-color: var(--theme-elevation-50);
//   width: 100%;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .actions {
//   display: flex;
//   align-items: center;

//   @include mid-break {
//     flex-direction: column;
//     align-items: flex-start;
//   }
// }
