.point {
    display: block;
    position: relative;

    &::before {
        content: "";
        width: 12px;
        height: 12px;
        position: absolute;
        top: 0;
        margin-top: 3px;
        left: -20px;
        border-radius: 50%;
        transition: all 0.37s ease-out;
        transform: scale(0);
        background-color: #E1D9D7;
    }

    &:hover::before {
        transform: scale(1);
    }
}