@use 'sass:math';

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'Не используйте единицы измерения при работе с функцией rem()! Передавайте аргументом только числа.';
  }
}

@function adpt($max: 100, $min: 10) {
  $maxViewportWidth: 1920; // tailwind 1536;
  $minViewportWidth: 320; // или 320, если хочешь учитывать айфоны SE

  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  @return clamp(
    #{$minSize * 1rem},
    #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
    #{$maxSize * 1rem}
  );
}

@mixin fluid($property, $minVal, $maxVal) {
  $minWidth: 320px;
  $maxWidth: 1920px;
  $minWidthD: 320;
  $maxWidthD: 1920;

  $spread: $maxVal - $minVal;
  #{$property}: calc(
    #{$minVal}px + #{$spread} * (100vw - #{$minWidth}) /
      (#{$maxWidthD} - #{$minWidthD})
  ) !important;
}
