@font-face {
  font-family: 'Inter';
  src:
    url('/fonts/Inter24pt-Regular.woff2') format('woff2'),
    url('/fonts/Inter24pt-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    url('/fonts/Inter24pt-Medium.woff2') format('woff2'),
    url('/fonts/Inter24pt-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    url('/fonts/Inter24pt-SemiBold.woff2') format('woff2'),
    url('/fonts/Inter24pt-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    url('/fonts/Inter24pt-Bold.woff2') format('woff2'),
    url('/fonts/Inter24pt-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kumbh Sans';
  src:
    url('/fonts/KumbhSans-Regular.woff2') format('woff2'),
    url('/fonts/KumbhSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kumbh Sans';
  src:
    url('/fonts/KumbhSans-Regular.woff2') format('woff2'),
    url('/fonts/KumbhSans-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
