@use 'helpers' as *;

/* html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18, 14);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: var(--font-family-base);
  letter-spacing: -0.03em;
  color: var(--color-gray-50);
  background-color: var(--color-dark);
} */

/* main {
  flex-grow: 1;
} */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--color-light);
  font-weight: 500;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: 500;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: var(--font-family-accent);
}

h1,
.h1 {
  @include fluid-text(70, 30);
  line-height: 1.2;
}

h2,
.h2 {
  @include fluid-text(58, 28);
  line-height: 1.3;
}

h3,
.h3 {
  @include fluid-text(40, 24);
  // 1.5 - default
}

h4,
.h4 {
  @include fluid-text(26, 18);
  // 1.5 - default
}

h5,
.h5 {
  @include fluid-text(24, 18);
  // 1.5 - default
}

h6,
.h6 {
  @include fluid-text(20, 16);
  // 1.5 - default
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(2) dashed var(--color-light);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(44));

      content: '';
    }
  }
}

/////////////////////////////////////////////
.info-wrapper {
  &__left {
    display: flex;
    align-items: center;
    width: 38%;
    height: auto;
    min-height: 100%;
    padding-block: rem(40);
    border-right: var(--border);

    @include mobile {
      width: 100%;
      border-right: none;
      padding: rem(40) rem(16);
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    flex-basis: 62%;
    gap: fluid(30, 20);
    align-items: center;
    padding-top: fluid(80, 30);
    padding-bottom: fluid(80, 30);
    padding-left: fluid(80, 0);
    padding-right: fluid(80, 0);

    @include mobile {
      justify-content: stretch;
      width: 100%;
    }
  }
}

.resources {
  // .resources__inner
  background-color: var(--color-dark-10);
  padding-bottom: rem(120);

  &__inner {
    background-color: var(--color-dark);
    padding: rem(20);
    border-radius: rem(12);
    border: var(--border);
    display: flex;
    gap: fluid(20, 16);
  }

  // .resources__item

  &__item {
    border: var(--border);
    background-color: var(--color-dark-10);
    display: flex;
    flex-direction: column;
    gap: fluid(20, 10);
  }

  // .resources__text

  &__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    gap: fluid(20, 16);
  }

  // .resources__title

  &__title {
    font-size: fluid(22, 16);
  }

  // .resources__description

  &__description {
    font-size: fluid(18, 14);
  }
}

//////////////////////////////////////////////////////////////////////////////
/* .section-name {
	background-color: var(--color-dark-10);
	border-top: var(--border);
	border-bottom: var(--border);

	// .section-name__inner
	&__icon {
		position: relative;
		@include square(rem(160));

		@include laptop {
			@include square(rem(120));
		}
		@include mobile {
			@include square(rem(60));
		}

		img {
			position: absolute;
			left: 0;
			top: 0;
			object-fit: contain;
			width: 100%;
			height: 100%;
		}
	}

	&__inner {
		display: flex;
		align-items: center;
		gap: fluid(80, 20);

		> *:first-child {
			margin-bottom: fluid(16, 10);
		}
		padding-block: rem(120);
		@include laptop {
			padding-block: rem(80);
		}
		@include mobile {
			padding-block: rem(40);
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		max-width: 70%;
		gap: fluid(16, 8);
	}

	// .section-name__badge

	&__badge {
		width: fit-content;
		background-color: var(--color-dark-20);
		color: var(--color-light);
		padding: rem(6) rem(10);
		border-radius: rem(4);

		@include laptop {
			padding: rem(4) rem(8);
		}
	}

	// .section-name__title

	&__title {
		@include mobile {
			max-width: 100%;
		}
	}
} */

/* .box {
  background-color: var(--color-gray-10);
  padding: fluid(30, 20);
  border: var(--border);
  border-radius: rem(8);
  height: fit-content;
} */
